<h1>Add a Recipe</h1>
<%= form_for :recipe do |r| %>
  <p>
    <%= r.label :name %><br>
    <%= r.text_field :name %>
  </p>
   
  <p>
    <%= r.label :instructions %><br>
    <%= r.text_area :instructions %>
  </p>
  <p>
    <%= r.label :webUrl %><br>
    <%= r.text_area :webUrl %>
  </p>
  <p>
    <%= r.label :imgUrl %><br>
    <%= r.text_area :imgUrl %>
  </p>
 
  <p>
    <%= r.submit %>
  </p>
<% end %>
